html {
    height: 100%;
    width: 100%;
  }
  
  body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .operators {
      border: 2px black dashed;
      justify-content: center;
      width: 29%;
      padding: 20px;
      margin-left: 1.8em;
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;
  }
  #fn{
       width: 18%;
    
      border-radius: 74%;
      height: 41px;
    background-color: lightpink;
    font:bolder;
    font-size: 16px;
  }
  #fn:hover{
    background-color: lightgray;
  }
  
  input{
      width: 89%;
      margin: 27px 0px;
      margin-top: -5px;
      height: 81%;
     color:black;
    font-size: 1rem;
    margin-left: 26px;
    font-style: oblique;
  }
  
  .operations {
      display: flex;
      justify-items: str;
      row-gap: 34px;
      flex-direction: column;
      width: 89%;
      align-items: stretch;
      flex-wrap: wrap;
      align-content: stretch;
      justify-content: center;
  }
  
  
  .digit{
        width: 18%;
      border-radius: 74%;
      height: 41px;
    background-color:lightblue;
    font-size: 16px;
    font:bold;
  }
  .digit:hover{
    background-color: lightgray;
  }
  .row{
    padding-right: 0px;
      width: 114%;
      display: flex;
      justify-content: space-evenly;
  }
  
  h1{
    text-align: center;
    
  }
  